<div class="position-absolute h-100 w-100 text-center p-4" [ngClass]="{'bg-dark text-white':theme=='Light Mode','bg-light':theme==='Dark Mode'}">

  <div class="text-right">
    <button (click)="onClick()"  class="btn btn-primary">{{theme}}</button>
  </div>

  <h1 class="my-3" [ngClass] ="{'text-primary':theme==='Light Mode', 'text-black':theme==='Dark Mode'}" >{{title}}</h1>
  
  <div class="my-4">
    <label for="firstNum">First Number</label>
    <br>
    <input (input)="setFirstNum(firstNumber.value)" class="form-control text-center" type="text" #firstNumber>
  </div>
  <div class="my-4">
    <label for="secondNum">Second Number</label>
    <br>
    <input (input)="setSecondNum(secondNumber.value)" class="form-control text-center" type="text" name="secondNum" id="" #secondNumber>
  </div>

  <div class="my-4">
    <button 
      [disabled] = "!(firstNum && secondNum)"
      (click)="setOperation('1')" class="btn btn-primary">+</button>
    <button
      [disabled] = "!(firstNum && secondNum)"
     (click)="setOperation('2')" class="btn btn-primary">-</button>
    <button 
      [disabled] = "!(firstNum && secondNum)"
      (click)="setOperation('3')" class="btn btn-primary">*</button>
    <button
    [disabled] = "!(firstNum && secondNum)"
     (click)="setOperation('4')" class="btn btn-primary">/</button>
  </div>

  <hr>
  <p class="display-3">{{result}}</p>

</div>